.Name-container-community-left{
    border-radius: 24px;
background: #0C1B2A;
box-shadow: -8px 14px 9px 0px rgba(0, 0, 0, 0.25);
width: 35%;
padding-left: 4%;
position: absolute;
z-index: 1;

}
.Community-left-card{
    background: red;
    position: relative;
    left: 15%;
    margin-top: 7%;
}


.CommunityName{
    color: white;
font-family: Montserrat;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.Communitylink-container{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoimagecommunity{
    width: 75%;
}
.ImageContainerCommunityLeft{
    
    position: relative;
    left: -57%;
    margin-top: -8%;
    z-index: 2;
}

.ContainingImageCommunity{
    position: relative;
    border-radius: 228px;
    box-shadow: -3px 18px 10px 0px rgba(0, 0, 0, 0.25);
    
}
.imageCommunity{
    position: absolute;
    z-index: 4;
    width: 180px;
}



@media only screen and (max-width: 1024px) {
    .Name-container-community-left{
        width: 30%;
    }
    .imageCommunity{
        transform: translateY(10%) scale(0.8);
    }
    .ImageContainerCommunityLeft{
    
        position: relative;
        left: -60%;
        margin-top: -8%;
        z-index: 2;
    }

  }


  @media only screen and (max-width: 980px) {
    .ImageContainerCommunityLeft{ 
        left: -63%;
      
    }
    .imageCommunity{
        transform: translateY(10%) scale(0.6);
    }
    .logoimagecommunity{
        width: 50%;
    }
    .CommunityName{
    font-size: 17px;
    font-weight: 500;
  }
}
  
  @media only screen and (max-width: 720px) {
    .ImageContainerCommunityLeft{ 
        left: -65%;
      
    }
    .imageCommunity{
        transform: translateY(-3%) scale(0.5);
    }
    .Name-container-community-left{
        width: 30%;
    }
    .CommunityName{
        font-size: 25px !important;
        font-weight: 500;
      }

      .logoimagecommunity{
        width: 60% !important;
    }
    .Communitylink-container{
     margin-top: -10%;
    }
  

  }

  @media only screen and (max-width: 606px) {
    .ImageContainerCommunityLeft{ 
        left: -65%;
      
    }
    .imageCommunity{
        transform: translateY(-3%) scale(0.4);
    }
    .logoimagecommunity{
        width: 47% !important;
    }
    .CommunityName{
        font-size: 21px !important;
        font-weight: 500;
      }

  }

  @media only screen and (max-width: 542px) {
    .ImageContainerCommunityLeft{ 
        left: -67%;
      
    }
    .imageCommunity{
        transform: translateY(-3%) scale(0.4);
    }
    .logoimagecommunity{
        width: 47% !important;
    }
    .CommunityName{
        font-size: 21px !important;
        font-weight: 500;
      }
      .Name-container-community-left{
        width: 30%;
        height: auto;
    }

  }
  
  @media only screen and (max-width: 475px) {
    .ImageContainerCommunityLeft{ 
        left: -73%;
      
    }
    .imageCommunity{
        transform: translateY(-5%) scale(0.4);
    }

 
  }

  @media only screen and (max-width: 388px) {
    .ImageContainerCommunityLeft{ 
        left: -77%;
      
    }
    .imageCommunity{
        transform: translateY(-7%) scale(0.4);
    }

    @media only screen and (max-width: 320px) {
        .ImageContainerCommunityLeft{ 
            left: -80%;
          
        }
        .imageCommunity{
            transform: translateY(-10%) scale(0.2);
        }
        .logoimagecommunity{
            width: 30% !important;
        }
        .CommunityName{
            font-size: 17px !important;
            font-weight: 500;
          }
          .Name-container-community-left{
            width: 30%;
            height: auto;
        }
    
     
      }
    

 
  }



