@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');


.carousel-containing-buttons{
  margin-bottom: 5rem;
}

.image-carousel-container {
  /* position: relative; */
  width: 40rem;
  margin: 5rem auto;
  perspective: 62.5rem;
  height: 20rem;
}
.image-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image-carousel-container h1{
  font-size: 300%;
  padding-bottom: 70%;
  width: 200%;
  font-family: Montserrat, 'sans-serif';
  color:#fff;
  
}
.image-carousel {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: translateZ(-26.875rem);
  transform-style: preserve-3d; 
  transition: transform 1s;
  
}

.carousel_image { 
  position: absolute;
  width: 93.75%;
  height: 93.75%;
  background-size: cover;
  box-shadow:inset 0 0 0 125rem rgba(0,0,0,0);
  display: flex;
}

.carousel-buttons{
  text-align: center;
  margin: 3rem 0;
}

.carousel-button{
  margin: 0 1rem;
  color: #ffffff;
  padding: 1.5rem 1.5rem;
  font-size: 1.5rem;
  background:  #1c79c5;
  font-family: "Nanum Gothic";
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  border-radius: 0.75rem;
  margin-top: 0.625rem;
  width: 7rem;
  z-index: 100000;
}

.carousel_image:nth-child(1) {
  background-image: url("../../public/program1.png");
  transform: rotateY(  0deg) translateZ(26.875rem); }
.carousel_image:nth-child(2) { 
  background-image: url("../../public/program2.png");
    transform: rotateY( 40deg) translateZ(26.875rem); }
.carousel_image:nth-child(3) {
  background-image: url("../../public/program3.png");
  transform: rotateY( 80deg) translateZ(26.875rem); }
.carousel_image:nth-child(4) {
  background-image: url("../../public/program4.png");
  transform: rotateY(120deg) translateZ(26.875rem); }
.carousel_image:nth-child(5) { 
  background-image: url("../../public/program5.png");
 transform: rotateY(160deg) translateZ(26.875rem); }
.carousel_image:nth-child(6) { 
  background-image: url("../../public/program6.png");
 transform: rotateY(200deg) translateZ(26.875rem); }
.carousel_image:nth-child(7) { 
  background-image: url("../../public/program7.png");
 transform: rotateY(240deg) translateZ(26.875rem); }
.carousel_image:nth-child(8) {
  background-image: url("../../public/program8.png");
  transform: rotateY(280deg) translateZ(26.875rem); }
.carousel_image:nth-child(9) {
  background-image: url("../../public/program9.png");
  transform: rotateY(320deg) translateZ(26.875rem); }


@media (min-width: 800px) and (max-width: 1100px) {
  .carousel-containing-buttons{
    transform: scale(0.75);
    margin: 12rem auto 12rem;
  }.carousel-button{
    padding: 2rem 2rem;}
}

@media (min-width: 550px) and (max-width: 800px) {
  .carousel-containing-buttons{
    margin: 8rem 2rem 4rem 0;
    transform: scale(0.5);
  }  .carousel-button{
    padding: 2rem 2rem;}
}

@media (max-width: 550px) {
  .carousel-containing-buttons{
    transform: scale(0.5);
    margin: 8rem auto 3rem ;
  }.carousel-containing-buttons h1{
    margin-right: 12rem;
  }.carousel-button{
    padding: 2rem 2rem;}
  .image-carousel{

    margin: 8rem 5rem 3rem 0;
  }
}
@media (max-width: 500px) {
  .carousel-containing-buttons{
    transform: scale(0.5);
    margin: 8rem auto 3rem ;
  }
  .carousel-containing-buttons h1{
    margin-right: 14rem;
  }
  .image-carousel{

    margin: 6rem 10rem 3rem 0;
  }
}
@media (max-width: 445px) {
  .carousel-containing-buttons{
    transform: scale(0.5);
    margin: 8rem auto 3rem ;
  }
  .image-carousel{

    margin: 6rem 15rem 3rem 0;
  }
}
@media (max-width: 421px) {
  .carousel-containing-buttons{
    transform: scale(0.45);
    margin: 8rem auto 3rem ;
  }
  .image-carousel{

    margin: 2rem 15rem 3rem 0;
  }
}@media (max-width:399px) {
  .carousel-containing-buttons{
    transform: scale(0.42);
    margin: 5rem auto 3rem ;
  }
  .image-carousel{

    margin: 2rem 20rem 3rem 0;
  }
}@media (max-width:379px) {
  .carousel-containing-buttons{
    transform: scale(0.37);
    margin: 5rem auto 3rem ;
  }.carousel-containing-buttons h1{
    margin-right: 15rem;
  }
  .image-carousel{

    justify-content: center;
    text-align: center;
    align-items: center;
  }
}@media (max-width:350px) {
  .carousel-containing-buttons{
    transform: scale(0.33);
    margin: 5rem auto 3rem ;
  }
  .image-carousel{

    justify-content: center;
    text-align: center;
    align-items: center;
  }
}@media (max-width:325px) {
  .carousel-containing-buttons{
    transform: scale(0.31);
    margin: 6rem auto 0rem ;
  }
  .image-carousel{

    justify-content: center;
    text-align: center;
    align-items: center;
  }
}