@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.waterTextDiv{
    padding-bottom: 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 80;
}
.neon {
    
    color: #fff;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,

  }
  

.waterTextDiv p{
    transform: translate(-50%, -50%);
    font-size: 780%;
    font-weight: bolder;
    position: absolute;
    display: flex;
}

.waterTextDiv p:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 4px #ffffff;
}

@media only screen and (max-width: 1350px) {
    .waterTextDiv p{font-size: 780%;}
  }


 @media only screen and (max-width: 1024px) {
    .waterTextDiv p{font-size: 600%;}
 }

 @media only screen and (max-width: 720px) {
    .waterTextDiv p{font-size: 500%;}
 }
 @media only screen and (max-width: 540px) {
    .waterTextDiv p{font-size: 350%; padding-top: 3%;}
 }
 @media only screen and (max-width: 445px) {
    .waterTextDiv p{font-size: 300%; padding-top: 3%;}
 }
 @media only screen and (max-width: 385px) {
    .waterTextDiv p{font-size: 250%; padding-top: 3%;}
 }
 @media only screen and (max-width: 320px) {
    .waterTextDiv p{font-size: 250%; padding-top: 14%;}
 }