.blogs-container {
display: flex;
flex-direction: row;
  }
.blogs-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 10%;
    height: 90%;
}