.waveUpCommunitypage {
    position: absolute;
    top: -7%;
    left: 0;
    height: 60vh;
    width: 100%;
    background-image: url("./CommunitypageComponents/CommunityBGDesign.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }


  .title-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 7%;
    margin-bottom: 4%;
  }
  

  .footercontainer{
    margin-top: 10%;
  }


  
  @media only screen and (max-width: 1024px) {
    .title-image {
      width: 40%;
      margin-top: 1%;
    }
    .waveUpCommunitypage {
      height: 40vh;
    }
    .footercontainer{
      margin-top: 20%;
    }

  }
  
  @media only screen and (max-width: 720px) {
    .title-image {
      width: 40%;
      margin-top: 1%;
    }
    .waveUpCommunitypage {
      top: -2%;
      left: 0;
      height: 30%;
    }
    .footercontainer{
      margin-top: 35%;
    }
  

  }
  
  @media only screen and (max-width: 455px) {
    .title-image {
      width: 40%;
      margin-top: -9%;
    }
    .waveUpCommunitypage {
      top: -8%;
      left: 0;
      height: 30%;
    }
    .footercontainer{
      margin-top: 50%;
    }
 
  }
  