.waveUp{
    position: fixed;
    top: -7%;
    left: 0;
    height: 50vh;
    width: 100%;
    background-image: url("../public/BG-DESIGN2.svg"); /* Replace with the path to your background image */
    background-size:cover;
    background-position: center;
    z-index: -1;
}
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}

.landingPage{
    display: flex;
    align-items: center;

}

.footer {
    margin-top: auto;
  }
  .centerLogo {
display: flex;
    margin: 0 auto;
    width: 20%;
  }  
  .mainLogo{
    padding: 4% 0;
  }

  @media only screen and (max-width: 1350px) {
    .mainLogo{
      padding: 8% 6%;
  }  
  .centerLogo{
      width: 28%;
  }
  }


  @media only screen and (max-width: 1024px) {
    .mainLogo{
        padding: 7% 6%;
    }  
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      height: 40vh;
    } 
  }

  @media only screen and (max-width: 720px) {
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      top: -2%;
    left: 0;
    height: 30%;
    } 
  }

  @media only screen and (max-width: 455px) {
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      top: -8%;
    left: 0;
    height: 30%;
    } 
    .mainLogo{
      padding: 2% 0 4% 0;
    }
  }