@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.waveUp{
    position: absolute;
    top: -7%;
    left: 0;
    height: 50vh;
    width: 100%;
    background-image: url("BG-DESIGN2.svg"); /* Replace with the path to your background image */
    background-size:cover;
    background-position: center;
    z-index: -1;
}
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 
}
.tagline{
  /* font: Poppins, 'sans-serif'; */
  display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(167, 212, 243);
    margin-left: 5%;
    margin-top: 0.7%;
  }
.landingPage{
    display: flex;
    align-items: center;
    

}

.footer {
    margin-top: auto;
  }
  .centerLogo {
display: flex;
    margin: 0 auto;
    width: 20%;
  }  
  .mainLogo{
    padding: 4% 0 3% 0;
  }

  @media only screen and (max-width: 1350px) {
    .mainLogo{
      padding: 8% 6%;
  }  
  .centerLogo{
      width: 28%;
  }
  }
  @media only screen and (max-width: 1350px) {
    .tagline{
      margin-left: 8%;
      margin-top: 1.4%;
    }
  }
  @media only screen and (max-width: 1110px) {
    .tagline{
      margin-left: 8%;
      margin-top: 1.5%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .mainLogo{
        padding: 7% 6%;
    }  
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      height: 40vh;
    } 
  }
  @media only screen and (max-width: 1024px) {
    .tagline{
      margin-left: 17%;
      margin-top: 1.5%;
    }
  }
  @media only screen and (max-width: 880px) {
    .tagline{
      margin-left: 19%;
      margin-top: 1.8%;
    }
  }
  @media only screen and (max-width: 760px) {
    .tagline{
      margin-left: 19%;
      margin-top: 1.8%;
    }
  }
  @media only screen and (max-width: 720px) {
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      top: -2%;
    left: 0;
    height: 30%;
    } 
    .tagline{
      font-size:80%;
      margin-left: 18%;
      margin-top: 1.8%;
    }
  }
  @media only screen and (max-width: 650px) {
    .tagline{
      margin-left: 18.5%;
      margin-top: 2%;
    }
  }
  @media only screen and (max-width: 570px) {
    .tagline{
      margin-left: 19%;
      margin-top: 2.8%;
    }
  }
  @media only screen and (max-width: 540px) {
    .tagline{
      font-size: 60%;
      margin-left: 20%;
      margin-top: 3%;
    }
  }
  @media only screen and (max-width: 455px) {
    .centerLogo{
        width: 32%;
    }
    .waveUp{
      top: -8%;
    left: 0;
    height: 30%;
    } 
    .mainLogo{
      padding: 2% 0 4% 0;
    }
  }
  @media only screen and (max-width: 480px) {
    .tagline{
      font-size: 60%;
      margin-left: 20%;
      margin-top: 3.5%;
    }
  }
  @media only screen and (max-width: 445px) {
    .tagline{
      font-size: 50%;
      margin-left: 20%;
      margin-top: 3.5%;
    }
  }
  @media only screen and (max-width: 385px) {
    .tagline{
      font-size: 50%;
      margin-left: 32%;
      margin-top: 4%;
    }
  }