@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding-top: 0.3%;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}
.logo {
    margin-top: 1%;
    display: flex;
    align-items: center;
    height: 100%; 
  }
.logo img{
    height: 100%;
    width: auto;
}
:root {
	--secondaryColor: #fff8f9;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	height: 80px;
	padding: 0 2rem;
	color: var(--textColor);

}

header .nav-items{
  display: flex;
	align-items: center;
	justify-content: space-between; 
  
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	margin: 0 2rem;
	color: var(--textColor);
	text-decoration: none;
    font-weight: bolder;
}

nav a:hover {
	color: var(--secondaryColor);
    
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -120vh;
		left: 0;
		height: 60%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		background-color: rgba(31, 81, 128, 0.6);
		transition: 1s;
	}

	header .responsive_nav {
		z-index: 1002;
		transform: translateY(120vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 1.4rem;
		right: 2rem;
	}
    .logo img{
        height: 70%;
        width: auto;
    }
	nav a {
		font-size: 1.5rem;
        font-weight: bolder;
	}
    
}
@media only screen and (max-width: 720px) {
	.logo img{
		height: 50%;
		width: auto;
	}
}

@media only screen and (max-width: 455px) {
	.logo img{
		height: 41%;
		width: auto;
	}
}