@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.program{
    color: #FFF;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
}

.individual-program{
    display: flex;
    align-items: center;
    padding: 2rem;
    padding-bottom: 55%;
    margin: 0 auto;
    height: 100%;
}

.program-name{
    font-size: 375%;
    padding: 1rem 0;
    font-family: "Montserrat";    
    font-weight: 700;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1%;
}

.program-logo{
    position: absolute;
    height: 100%;
    margin-top: 70rem;
    left: 50%;
    transform: translateX(-50%);
}

.program-logo img{
    max-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
}

.program-description{
    /* display: block; */
    text-align: justify;
    font-family: "Nanum Gothic";
    font-size: 225%;
    font-weight: 400;
    position: absolute;
    margin-top: 90rem;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    width: 90%;
}

@media (min-width: 865px) and (max-width: 1233px) {
    .program-logo{
        width:  28.175rem;
        height: 70%;
        margin-top: 47.5rem;
    }
}

@media (min-width: 1096px) and (max-width: 1233px) {
    .program-description{
        font-size: 157.5%;
        margin-top: 110rem;
    }
}   

@media (min-width: 952px) and (max-width: 1096px) {
    .program-description{
        font-size: 157.5%;
        margin-top: 112rem;
    }
}   

@media (min-width: 865px) and (max-width: 952px) {
    .program-description{
        font-size: 157.5%;
        margin-top: 114rem;
    }
}   

@media (min-width: 1025px) and (max-width: 1233px) {
    .program-name{
        font-size: 262.5%;
        padding: 2rem 0;
        margin-bottom: 1.5%;
    }
}

@media (min-width: 865px) and (max-width: 1024px) {
    .program-name{
        font-size: 262.5%;
        /* padding: 0.1rem 0; */
        margin: -3% 0 -2%;
    }
}

@media (min-width: 620px) and (max-width: 864px) {
    .program-name{
        font-size: 187.5%;
        margin: -3% 0 1%;
    }
    .program-logo{
        width:  20.125rem;
        height: 50%;
        margin-top: 32.5rem;
    }
}

@media (min-width: 783px) and (max-width: 865px) {
    .program-description{
        font-size: 112.5%;
        margin-top: 77rem;
    }
}   

@media (min-width: 680px) and (max-width: 783px) {
    .program-description{
        font-size: 112.5%;
        margin-top: 78rem;
    }
}   

@media (min-width: 620px) and (max-width: 680px) {
    .program-description{
        font-size: 112.5%;
        margin-top: 79rem;
    }
}   

@media (min-width: 470px) and (max-width: 620px) {
    .program-description{
        font-size: 67.5%;
        margin-top: 46rem; 
    }
}

@media (min-width: 455px) and (max-width: 470px) {
    .program-description{
        font-size: 67.5%;
        margin-top: 47rem;
    }
}   

@media (min-width: 455px) and (max-width: 620px) {
    .program-name{
        font-size: 112.5%;
        margin: -3% 0 -1.5%;
    }
    .program-logo{
        width:  12.075rem;
        height: 30%;
        margin-top: 20rem;
    }
}

@media (max-width: 455px) {
    .program-name{
        font-size: 112.5%;
        margin: -15% 0 -5%;
    }
    .program-logo{
        width:  12.075rem;
        height: 30%;
        margin-top: 18rem;
    }
}

@media (min-width: 408px) and (max-width: 455px) {
    .program-description{
        font-size: 67.5%;
        margin-top: 45rem;
    }    
}

@media (max-width: 408px) {
    .program-description{
        font-size: 67.5%;
        margin-top: 46rem;
    }
}

/* @media (min-width: 1446px) and (max-width: 1676px) {
    .program-description{
        margin-top: 161rem;
    }    
    .individual-program{
        padding-bottom: 88%;
    }
} */

@media (min-width: 1260px) and (max-width: 1446px) {
    .program-description{
        margin-top: 165rem; 
    }
    .individual-program{
        padding-bottom: 105%;
    }
}

@media (min-width: 420px) and (max-width: 500px) {
    .individual-program{
        padding-bottom: 44%;
    }
}

@media (max-width: 420px) {
    .individual-program{
        padding-bottom: 62%;
    }
}

@media (min-width: 500px) and (max-width: 620px) {
    .individual-program{
        padding-bottom: 32%;
    }
}

@media (min-width: 621px) and (max-width: 750px) {
    .individual-program{
        padding-bottom: 70%;
    }
}

@media (min-width: 750px) and (max-width: 865px) {
    .individual-program{
        padding-bottom: 60%;
    }
}

@media (min-width: 865px) and (max-width: 1000px) {
    .individual-program{
        padding-bottom: 85%;
    }
}

@media (min-width: 1233px) and (max-width: 1260px) {
    .individual-program{
        padding-bottom: 120%;
    }
}


