.waveUpProjectspage {
    position: absolute;
    top: -7%;
    left: 0;
    height: 60vh;
    width: 100%;
    background-image: url("./ProjectPageElements/BG-DESIGN (1)projectpage.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

.display_cards_programpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}

@media (min-width: 455px) and (max-width: 720px) {
    .open-source-programs-container .rounded-social-buttons{
      margin-top: 50%;
    } 
}

@media (max-width: 455px) {
    .open-source-programs-container .rounded-social-buttons{
      margin-top: 172%;
    }
}

.open-source-programs-container .rounded-social-buttons{
  /* margin-top: 60%; */
}

.open-source-programs-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.open-source-title-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7%;
  margin-bottom: 4%;
}

.list-of-image-container {
  margin-top: 15%;
}

.list-of-projects-image {
  position: relative;
  top: 0;
  left: 7%;
}

.cardprojectpage {
  position: relative;
  width: 100%;
  background: #0c1b2a;
  box-shadow: -6px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.screenshotprojectpage {
  margin-top: -1%;
  max-width: 100%;
  max-height: 100%;
}

.project-name {
  color: #fcfdfd;
  font-family: Montserrat, Malgun Gothic, Ariel;
  font-size: 40px;
  font-weight: 700;
  margin-top: 7px;
  margin-left: 6px;
}

.project-description {
  color: #93a4b2;
  font-family: Malgun Gothic, Montserrat, Ariel;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 27px;
}

.learn-more-button {
  margin-right: -20px;
}

.button-container {
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.background-card {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #016dae;
  transform: rotate(-2.7deg);
  z-index: 1;
}

.project-card {
  position: relative;
  margin: 60px;
  width: 25%;
  height: 25%;
}

.all-open-source-programs-container {
  position: relative;
  margin-top: 13%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10%;
}

@media only screen and (max-width: 1630px) {
  .all-open-source-programs-container {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 1395px) {
  .all-open-source-programs-container {
    margin-top: 17%;
  }
}
@media only screen and (max-width: 1200px) {
  .all-open-source-programs-container {
    margin-top: 19% !important;
  }
}

@media only screen and (max-width: 1025px) {
    .all-open-source-programs-container {
      margin-top: 13% !important;
    }
  }

@media only screen and (max-width: 940px) {
  .all-open-source-programs-container {
    margin-top: 15% !important;
  }
}

@media only screen and (max-width: 823px) {
  .all-open-source-programs-container {
    margin-top: 17% !important;
  }
}

@media only screen and (max-width: 729px) {
  .all-open-source-programs-container {
    margin-top: 19% !important;
  }
}
@media only screen and (max-width: 643px) {
  .all-open-source-programs-container {
    margin-top: 21% !important;
  }
}

@media only screen and (max-width: 575px) {
  .all-open-source-programs-container {
    margin-top: 27% !important;
  }
}

@media only screen and (max-width: 453px) {
    .all-open-source-programs-container {
      margin-top: 22% !important;
    }
  }



@media only screen and (max-width: 1024px) {
  .open-source-title-image {
    width: 40%;
  }
  .waveUpProjectspage {
    height: 40vh;
  }
  .list-of-projects-image {
    width: 30%;
  }
  .project-card {
    width: 30%;
    margin-right: 15px;
  }
  .project-name {
    font-size: 30px;
  }
  .project-description {
    font-size: 14px;
    margin-left: 11px;
  }
  .learn-more-button {
    margin-right: -20px;
    width: 200px;
  }
}

@media only screen and (max-width: 720px) {
  .open-source-title-image {
    width: 40%;
    margin-top: 3%;
  }
  .waveUpProjectspage {
    top: -2%;
    left: 0;
    height: 30%;
  }
  .list-of-projects-image {
    width: 25%;
    margin-top: -10%;
  }
  .project-card {
    width: 27%;
    margin: 17px;
  }
  .project-name {
    font-size: 20px;
  }
  .project-description {
    font-size: 12px;
    margin-left: 7px;
  }
  .learn-more-button {
    margin-right: -10px;
    width: 100px;
  }
  .all-open-source-programs-container {
    margin-top: 50%;
  }
}

@media only screen and (max-width: 455px) {
  .open-source-title-image {
    width: 40%;
    margin-top: -5%;
  }
  .waveUpProjectspage {
    top: -8%;
    left: 0;
    height: 30%;
  }
  .project-card {
    width: 20%;
    margin: 10px;
  }
  .project-name {
    font-size: 10px;
    margin-top: -6px;
  }
  .project-description {
    font-size: 4px;
    margin-left: 3px;
  }
  .learn-more-button {
    width: 50px;
    margin-top: -59%;
    margin-right: 45%;
  }
  .button-container {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    height: 10px;
  }
}
