.DesignationCommunitycoordinator{
    color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.CardsContainerCommunity{
    margin-top: 10px;
}
.DesignationCommunitymentors{
    color: #FFF;
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 150px;

}