@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.programTimeline{
    color: white;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

.programs-container{
    display: flex;
    align-items: center;
    padding: 2rem;
    padding-bottom: 21.28%;
    margin: 0 auto;
    max-width: 42.55%;
    height: 100%;
}

.programs-heading{
    font-size: 375%;
    padding: 4rem 0;
    max-width: 144.84%;
    text-align: center;
    margin: -110rem 0 0 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1150px) {
    .programs-heading {
        text-align: center;
        left: 0;
        right: 0;
        transform: none;
    }
    .programs-container {
        justify-content: center;
      }
    
      .timeline {
        margin-left: auto;
        margin-right: auto;
        left: unset;
        transform: unset;
      }
      .section {
        text-align: right !important;
        transform: none !important;
      }

      .section:nth-child(odd) {
        text-align: right !important;
        transform: translateX(0) !important;
      }
    
      .section:nth-child(even) .program-date {
        transform: none !important;
      }

      .section:nth-child(odd) .program-date {
        transform: translateX(0);
      }
    
      .section .program-content,
      .section .program-date {
        text-align: center;
      }

      .section:nth-child(odd) .program-content{
        margin-left: 60%;
      }
      
      .section .program-date{
        margin-right: auto;
        margin-left: unset;
      }
  }  

.timeline{
    position: relative;
    min-height: 13.85%;
    margin-top: 20rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.line{
    margin-top: 19.38%;
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 0.58%;
    top: -10.72%;
    bottom: -2.68%;
    background-color: #018DFF;
    display: none;
    min-height: 26.81%;
}

.line:before,
.line:after{
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #018DFF;
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    opacity: 0;
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 4.84% 0;
    padding: 1rem;
    border-radius: 1rem;
}

.section:nth-child(even) .program-date{
    transform: translateX(-100%);
    margin-left: 50%;
}

.section:nth-child(odd) .program-date{
    transform: translateX(100%);
    margin-right: 50%; 
}

.section:nth-child(even) {
    transform: translateX(100%);
  }
  
.section:nth-child(odd) {
    transform: translateX(-100%);
}

.section:nth-child(even) .program-content {
    margin-left: 37rem;
  }

.program-bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    fill: #FFFDFD;
    left: 45%;
    top: 20%;
    transform: translateX(-50%);
    margin-left: 4.54%;
    z-index: 2;
}  

.program-content{
    width: calc(50% - 2rem);
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

.program-big-box{
    display: grid;
    grid-template-rows: auto 1fr;
    font-size: 2.25rem;
    border-radius: 5%;
    background: #0C1B2A;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    width: 25rem;
    padding: 2.16% 0 0 ;
}

.program-small-box{
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 5.26%;
    background: #007DC6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Malgun Gothic;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 2.5%;
    padding: 2.5%;
}

.program-details{
    color: #0C1B2A;
    font-size: 1.5rem;
    border-radius: 3.25rem;
    padding: 1.32% 2.64%;
    margin-top: 2.64%;
    background: #EFECEC;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    width: 55%;
}

.program-date{
    font-size: 2rem;
    font-weight: 500;
}

.program-link{
    text-decoration: none;
    color: #0C1B2A;
}